/* Seletor global */
*{
font-family: 'Segoe UI', sans-serif;
margin: 0; /*Espaço externo*/
padding: 0; /*Espaço interno*/
} 

#cabecalho{
    background-color: rgb(141, 0, 162);
    display: flex;
    gap: 10px;

    justify-content: space-between;

}
#cabecalho > img{
width: 50px; /*largura*/
height: 40px; /*altura*/
}

#cabecalho > nav > a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
#produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aquamarine;
}

