/* Seletor global - * indica todos os elememtps*/
* {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    /*Espaço externo*/
    padding: 0;
    /*Espaço interno*/

    box-sizing: border-box;

}

h1 {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

#cabecalho {
    background-color: #888787;
    display: flex;
    /*ativo o flexbol para poder alinhar os meus elementos filhos*/
    justify-content: space-between;
    /*alinha os filhos no sentido do flex*/
    align-items: center;
    /*alinha os filhos no sentido contrario do flex*/
}

#cabecalho>img {
    width: 40px;
    /*larura*/
    height: 40px;
    /*altura*/
}

#cabecalho>nav {
    display: flex;
    align-items: center;
    gap: 10px;
    /*espaço entre os elementos*/
}

#cabecalho>nav>a {
    color: #000000;
    text-decoration: none;
    /*a decoração do texto, neste caso, o link*/
    font-size: 16px;
    /*tamanho da fonte*/
}

/* Seção produtos */
#container-flex-produtos {
    background-color: #bcbcbc;
    display: flex;
    /*ativa o flexbox*/
    align-items: center;
    justify-content: center;
    column-gap: 1px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.card-produto {
    background-color: #b7b6be;
    width: 200px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    border: 3px solid #000000;
    border-radius: 10px;
    margin: 1px;
}

.card-produto>img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    margin: 1px;
}

#container-flex-suporte{
    background-color:#000000 ;
    font-display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 25px 0;
}

form{
    background-color: bisque;
    width: 50%;
    height: 400px;
    border-radius: 10px;
    padding: 10px;
    display: flex   ;
    flex-direction: column;
}

.form_campos_imput{
    height: 35px;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
 }

 